image: registry.secoder.net/tool/deployer

stages:
  - test

# Job template for test stage
ã€‚test:
  image: node:12.18.3
  stage: test

  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/

  before_script:
    - npm config set registry https://registry.npm.taobao.org
    - npm install

unit-test:
  extends: .test
  script:
    - npm test
  after_script:
    - SUFFIX=$RANDOM
    - curl "http://10.0.0.11/sonar-scanner.tar.gz" -s -o "/tmp/sonar-$SUFFIX.tar.gz"
    - tar -xf "/tmp/sonar-$SUFFIX.tar.gz" -C /opt
    - /opt/sonar-scanner/bin/sonar-scanner

style-test:
  extends: .test
  # allow_failure: true
  script:
    - npm run lint
